<!DOCTYPE html>
<html lang="en">

<%- include('partials/heading.ejs') %>

  <body>

    <%- include('partials/nav.ejs') %> 

    <div class="container">
      <h1>Welcome Home</h1>
    </div>

    

    <script src="firebase.js"></script>
    <script src="index.js"></script>
  </body>

</html>