

body{
    background-color: rgb(255, 255, 255);
    color: white;
    font: 2rem "Arial";
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    grid-template-areas:
    "tbb tbb"
    "bb bb"
    "card1 card2"
    "card3 card4"
    "blogs blogs"
    "features community";

}

div#top-bar{
    background-color: rgb(2, 0, 139);
    height: 120px;
    grid-area: tbb;
}

div#bottom-bar{
    background-color: rgb(2, 0, 139);
    height: 350px;
    grid-area: bb;
}

div#card1,
div#card2,
div#card3,
div#card4{
    background-color: rgb(95, 0, 95);
    height: 400px;
}

div#card1{
    grid-area: card1;
}

div#card2{
    grid-area: card2;
}

div#card3{
    grid-area: card3;
}

div#card4{
    grid-area: card4;
}

div#blogs{
    background-color: rgb(0, 65, 16);
    grid-area: blogs;
    height: auto;
    
}

div#features{
    background-color: rgb(0, 65, 16);
    grid-area: features;
    height: 600px;
}

div#community{
    background-color: rgb(0, 65, 16);
    grid-area: community;
    height: 400px;
}

div#blog-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
    height: 600px;
}

div#blog-cards > div{
    background-color: darkseagreen;
}

@media (max-width: 800px) {
    body{
        width: 400px;
        grid-template-areas:
        "tbb tbb"
        "bb bb"
        "card1 card1"
        "card2 card2"
        "card3 card3"
        "card4 card4"
        "blogs blogs"
        "features features"
        "community community";
    }
    div#blogs,
    div#features,
    div#community,
    div#bottom-bar{
        height: auto;
    }
    div#blog-cards{
        display: none;
    }
}
