

div.center{
    border-style: solid;
    border-color: red;
}

.center{
    margin: auto;
}

#outer{
    width:900px;
}

#leftColumn{
    background-color: rgb(70, 95, 120);
    width: 30%;
    float: left;
}

#rightColumn{
    background-color: lightgray;
    width: 70%;
    float: left;
}

#photoDiv{
    /* background-color: magenta; */
    display: flex;
    height: 250px;
}

#photo{
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.548);
    border-radius: 100%;
}

#fullName{
    /* background-color: maroon; */
    text-align: right;
    padding: 0px;
}

.leftWritting{
    margin: 0px;
    padding: 0px 20px;
    color: rgb(220, 220, 230);
    font-family: 'Spartan', sans-serif;
    text-align: right;
}

h1.leftWritting{
    font-size: 27px;
    line-height: 46px;
    text-align: right;
}

h1.subtitle{
    font-size: 15px;
}

.bgTitle{
    background-color: rgba(255, 255, 255, 0.178);
}

div.leftWritting{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 6px;
}

/* --------------------------- RIGHT COLUMN -------------------------------- */
.rightWritting{
    text-align: left;
    background-color: skyblue;
    padding-left: 20px;
}



/* 
Paddng:
Increases size of element without increasing size of content in it. 

Margini:
Increases space ouside of element. Gap between elements. 
*/