/* CLASS */
.page{
    background-color: lightgrey;
}
.outer{
    background-image: url("https://c0.wallpaperflare.com/preview/515/894/510/canada-lambton-shores-grand-bend-beach-pebbles.jpg");
    backdrop-filter: blur(3px);
}
.center{
    margin: auto;
    width: 70%;
}
.textCenter{
    text-align: center;
}
.description{
    font-size: large;
    margin: auto;
    padding: 5px;
}
.descriptionImage{
    padding: 20px;
}

/* ID */
#pageTitle{
    animation: colorChange 5s infinite;
    font-size: 50px;
    margin: 0px;
}       
#colName{
    font-size: 30px;
}

/* Element */
td{
    background-color: linen;
}
table, caption{
    table-layout: fixed;
    width: 100%;
    /* border: 2px solid black; */
}
caption{
    font-size: 70px;
    color: white;
    text-shadow: 0px 0px 20px black, 0px 0px 20px black;
    text-align: center;
    position: relative;
    margin: 20px auto;
}

/* ************************************************************************ */
/* ************************** MORE SELECTORS ****************************** */

/* Change all the description within divs */
div.description{
    background-color: crimson;
}

/* Select first tr found */
tr:first-of-type{
    font-style: italic;
}

/* Select the first td element found in every tr */
tr td:first-child{
    background-color: cyan;
}

/* Select all td elements that come immediatly after a td element (not in inside) */
td + td{
    background-color: orange;
}

/* Select the last div within the parent of the 2nd td found within the last tr found on page */
tr:last-child > td:nth-child(2) > div:last-child{
    transform: scale(1);
}

/* Select the element who's source matches = "....." */
[src="https://www.worldatlas.com/r/w960-q80/upload/5d/e2/08/shutterstock-756694396.jpg"]{
    height: 240px;
}

/* Select all elements who's src contains the subsctring jpg*/
[src*="jpg"]{
    border-radius: 25px;
}

:root{
    --lineWidth: 27%;
}

caption::before{
    content: "";
    display: inline;
    width: var(--lineWidth);
    height: 5px;
    background:mintcream;
    position: absolute;
    left: 10%;
    top: 50%;
}

caption::after{
    content: "";
    display: inline;
    width: var(--lineWidth);
    height: 5px;
    background: mintcream;
    position: absolute;
    right: 10%;
    top: 50%;
}

@keyframes colorChange{
    from {background-color: navy;}
    to {background-color: red;}
}